@import url('http://fonts.googleapis.com/css?family=McLaren');

body {
  font-size: 16px;
}

strong {
  font-family: "McLaren";
}

a {
/*   color: #85A0C1; */
}

a:active, a:hover {
/*   color: #68ABFC; */
  text-decoration: none;
}

ul.list {
  list-style: none;
}

ul.list strong {
  display: block;
  margin-top: 40px;
  margin-bottom: 5px;
  font-size: 125%;
}

a i {
  font-size: 14px;
  padding: 0 3px;
}


#page-content {
  margin-top: 50px;
}

.label-key {
  font-size: 90%;
}

html, body {
/*   background: #262728; */
/*   color: #E0E0E0; */
}

.nav > li > a:hover {
text-decoration: none;
/* background-color: #545352; */
}

.navbar-inner a.brand {
  margin: 0 0 0 0px;
}

.autocomplete,
.filter,
.number-symbols {
  margin: 35px;
}


.tab-pane {
  min-height: 300px;
}

#plants-list li {
  margin-bottom: 20px;
}

.media,
#plants-list li .media {
  width: 150px;
  height: 150px;
  overflow: hidden;
  padding: 10px;
}

#home .content {
   padding: 35px 0;
}

#detail-tweets li {
  margin-bottom: 40px;

}

#detail-tweets span.label {
  display: block;
  padding-right: 20px;
  margin-bottom: 10px;
}

.tweet {
  padding-right: 20px;
  font-size: 200%
}
.photos {
  list-style: none;
}

.photos li {
  display: inline-block;
  padding-right: 10px;
}

footer {
  margin-bottom: 40px;
}

.copyright {
  margin: 20px 0;
}